code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}



#hide_email b {
    display: none;
}