</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.js"></script>
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js">-->
</body>
</html>

<!--MathJax to support LaTeX-->
{% if page.external contains 'latex' %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
       skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
   }
});

MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$'],['\\(','\\)']]
    }
});

MathJax.Hub.Queue(function() {
var all = MathJax.Hub.getAllJax(), i;
for(i=0; i < all.length; i += 1) {
all[i].SourceElement().parentNode.className += ' has-jax';
}
});
</script>
{% endif %}
