<!--<h3>About Me</h3>
<p>
I am a current Biostatistics PhD student in Boston, MA. Formerly, I was a software tester for <a href="https://data.energystar.gov/">Energy Star</a> and before that I did some <a href="http://willtownes.wordpress.com/tag/fulbright/">tropical ecology research in the Philippines</a>. My goal is to combine statistics, computation, and biology to address public health and environmental challenges. This is a blog for technical topics. I also write about travel and other non-technical topics on <a href="http://willtownes.wordpress.com">willtownes.wordpress.com</a>. I can be reached at <b>will.townes at gmail.com</b>.
</p>-->

<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
